.main-icon {
    position: absolute;
    bottom: 64px;
    right: 40px;
}

.main-icon-triangle {
    rotate: -15deg;
    left: 60px;
    top: 10px;
    width: 120px;
}

@media (max-width: 1380px) {
    .main-icon {
        top: 50px;
    }

    .main-icon-triangle {
        rotate: -15deg;
        left: 50px;
        top: 200px;
        width: 80px;
    }
}

@media (max-width: 1060px) {
    .main-icon {
        right: 20px;
        top: 180px;
    }
}


@media (max-width: 900px) {
    .main-icon {
        top: 200px;
        right: 5px;
    }
}

@media (max-width: 768px) {
    .main-icon {
        width: 80px;
        bottom: 10px;
        right: 20px;
    }

    .main-icon-triangle {
        display: none;
    }
}

@media (max-width: 610px) {
    .main-icon {
        width: 60px;
        top: -20px;
        right: 20px;
    }
}

@media (max-width: 450px) {
    .main-icon {
        width: 60px;
        top: 260px;
        right: 0px;
    }

    .main-buttons-container {
        flex-direction: column;
        width: 100%;
    }

    .main-buttons-container a {
        width: 100%;
    }
}

@media (max-width: 388px) {
    .main-icon {
        width: 50px;
        top: 280px;
    }
}

@media (max-width: 329px) {
    .main-icon {
        width: 50px;
        top: 300px;
    }
}